@import "../../assets/styles/global.scss";

.login-page {
  color: red;
  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    padding: 5vw 0;
    margin: 20vw 10vw 0 10vw;
    border-radius: 2.222vw;
    img {

    }
  }
  form.login-form {
    padding: 10vw 8vw;
    .login-btn {
      margin-top: 10vw;
      margin-bottom: 2vw;
      background-color: $mainColor;
    }
  }
}
